input,
select {
  height: 34px !important;
  padding: 5px 15px !important;
}

.acct_pop_new a i{
  padding-right: 10px !important;
  width: 28px;
  }

.login {
  background: #585858 !important;
  color: #ffffff !important;
  display: flex;
  align-items: center;
  padding: 40px 1rem;
  height: 100%;
  min-height: 100vh;
}

.login-body {

  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.login-content {

  background: white;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  margin: 0;
  border-top: 5px solid #c5cbe9;
}

.login-logo {
  text-align: center;
  padding: 10px 0 0;
  padding-bottom: 1rem !important;
  margin-top: 0;
}

.login-logo img {
  margin-bottom: .5rem !important;
  max-width: 65%;
}

.signin-btn {
  width: 100%;
  display: block;
  background-color: #ffa707;
  border-color: #ffa707;
  color: #000000;
  font-weight: bold;
}

.add-icon {
  position: relative;
  padding: 10px 0;
  margin-top: 30px;
}

.add-icon .fa-plus-circle {
  position: absolute;
  top: 0;
  right: 0;
  color: #0cb7a4 !important;
  font-size: 30px;

}

.add-icon h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
}

.login_page {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}

/*TABLE CSS STARTS HERE*/



.item-table {
  width: 100%;
  overflow: auto;

}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.pharma-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;

}

/* .pharma-table>thead:first-child>tr:first-child>th {
  border-top: 0;
} */
.pharma-table>tbody>tr>td,
.pharma-table>tbody>tr>th,
.pharma-table>tfoot>tr>td,
.pharma-table>tfoot>tr>th,
.pharma-table>thead>tr>td,
.pharma-table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
  font-size: 14px;
}


.pharma-table>thead>tr>th {
  vertical-align: middle;
  border: 1px solid #ddd;
  font-size: 12px;

}

.pharma-table>tfoot>tr>td {
  font-weight: 600;

}

.pharma-table-hover>tbody>tr:hover {
  background-color: #f5f5f5;
}

.pharma-table .mat-form-field-infix {
  border-top: 0;
  width: 100%;
}

.pharma-table .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 15px;
}


.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}

.form-gradient input[type=text]:focus:not([readonly])+label {
  color: #4f4f4f;
}

.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}


.form-dark .md-form label {
  color: #fff;
}

.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}

.form-dark input[type=text]:focus:not([readonly])+label {
  color: #fff;
}

.form-dark textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
  color: #fff;
}

.form-dark textarea.md-textarea {
  color: #fff;
}

.form-dark .form-control,
.form-dark .form-control:focus {
  color: #fff;
}


/* LOADER CODE START */
.spinner {
  background-color: #42424286;
  cursor: no-drop;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 99999999999;

}

.spinner>span {
  border: 11px solid #808080;
  border-top: 11px solid #9f3122;
  border-left: 11px solid #9f3122;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* LOADER CODE END */

/* ALERT MESSAGES START HERE */
.alertMsg {
  width: 300px;
  min-height: 40px;
  padding: 10px 15px;
  text-align: center;
  font-size: 14px;
  position: fixed;
  right: 8px;
  bottom: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff !important;
  z-index: 999999;
  border: 1px solid #ffffff83;
}

.alertMsg.sucessMsg {
  background-color: #208322;
}

.alertMsg.InfoMsg {
  background-color: #0e6cc4;
}

.alertMsg.warningMsg {
  background-color: #b3770f;
}

.alertMsg.dangerMsg {
  background-color: #B83226;
}

/* ALERT MESSAGES END HERE */

/* CARD START HERE */
.col-sm-6 {
  width: 50%;
  float: left;
  /* padding: 0; */
}

.itemtitle {
  font-size: 18px;
}

/* CARD START HERE */


main {
  padding: 100px 0;
  width: 600px;
  margin: 0 auto;
}

header {
  height: 100px;
  margin-bottom: 50px;
}

h1 {
  float: left;
  margin: 0;
}

h2 {
  margin: 0 0 50px;
}

#cart-container {
  float: right;

  position: relative;
}

#itemCount {
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

img {
  width: 100%;
}

.item {
  width: 31%;
  float: left;
  margin: 1%;
}

i:hover {
  cursor: pointer;
}

.col-md-6 {
  width: 50%;
  float: left;

}

.col-md-4 {
  width: 30%;
  float: left;

}

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  /* border: 1px solid #ddd; */
  margin: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 2px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* NEXT BUTTON */
.next-btn {
  background-color: #ffa707;
  padding: 3px 20px;
  text-align: center;
  display: inline-block;
  float: right;
  font-size: 12px;
}

.next-btn a {
  color: #000000;
  font-weight: bold;

}

/* NEXT BUTTON END */


/*COL-MD- CLASSES*/


.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {
  float: left;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-11 {
  width: 91.66666667%;
}

.col-sm-10 {
  width: 83.33333333%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-8 {
  width: 66.66666667%;
}

.col-sm-7 {
  width: 58.33333333%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-5 {
  width: 41.66666667%;
}

.col-sm-4 {
  width: 33.33333333%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-2 {
  width: 16.66666667%;
}

.col-sm-1 {
  width: 8.33333333%;
}


/* Table in order booking start */

.ui-table {
  border: 0;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

.ui-table-reflow td,
.ui-table-reflow th {
  text-align: left;
  display: block;
}

.ui-table th {
  font-weight: 700;
}

.ui-table th,
.ui-table td {
  line-height: 1.5em;
  text-align: left;
  padding: .4em .5em;
  vertical-align: top;
}

.ui-table-reflow thead td,
.ui-table-reflow thead th {
  display: none;
}

.ui-table-reflow td .ui-table-cell-label,
.ui-table-reflow th .ui-table-cell-label {
  padding: .4em;
  min-width: 40%;
  display: inline-block;
  margin: -.4em 1em -.4em -.4em;
}



.ui-table-reflow tbody th {
  /* margin-top: 3em; */
  clear: both;
}

.table-stroke tbody th,
.table-stroke tbody td {
  border-bottom: 1px solid #e6e6e6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 641px) {

  .ui-table-reflow.ui-responsive td .ui-table-cell-label,
  .ui-table-reflow.ui-responsive th .ui-table-cell-label {
    display: none;
  }
}

@media (min-width: 641px) {

  .ui-table-reflow.ui-responsive td,
  .ui-table-reflow.ui-responsive th,
  .ui-table-reflow.ui-responsive tbody th,
  .ui-table-reflow.ui-responsive tbody td,
  .ui-table-reflow.ui-responsive thead td,
  .ui-table-reflow.ui-responsive thead th {
    display: table-cell;
    margin: 0;
  }

  .in-mobile {
    display: none;
  }

  .in-table {
    display: block;
    float: left !important;
  }

}

@media (max-width: 640px) {

  .ui-table-reflow.ui-responsive td,
  .ui-table-reflow.ui-responsive th {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* float: left; */
    clear: left;
  }

  .ui-table-reflow tbody tr {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: block;
  }

  .in-table {
    display: none;

  }
}

/* Table in order booking end */

.pagestyles {
  padding: 10px 20px;
  margin-top: 40px;
}

.list_block {
  margin-bottom: 15px;
  margin-top: 15px;
}

.vordhead {
  float: right;
}


.bckbtncolor {
  color: #119f49;
  /* padding-top: 10px; */
}

.warnrec {
  text-align: center;
  font-size: 18px;
}

.issuesub {
  margin-left: 15px;
}

.btn-primary:hover{
  background-color: #ffa707 !important;
  border-color: #ffa707 !important;
}


/* Dashboard start */

.main-order{
  margin-top: 20px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
}
.change-bg1 .total-orders{
  background:#ffa707;
}
.change-bg2 .total-orders{
  background:#1d6dac;
}
.change-bg3 .total-orders{
  background:#b62340;
}

.total-orders{
  float: left;
  background: #119f49;
  min-height: 100px;  
  padding: 10px;
  position: relative;
  width:70%;
}
.total-orders p{
  color: #fff;
  /* text-align: center; */
  /* margin-top: 30px; */
  position: absolute;
  right: 20px;
  top: 43px;
}

.order-icon{
  position: absolute;
  left: 15px;
  top: 24px;
}

@media (max-width: 320px){
  .total-orders p{
    right: 7px;
  }

  .order-icon{
    left: 7px;
  }
}

.total-orders img{
  width: 48px;
    margin-right: 10px;
}

.change-bg1 .total-count{
  border-right: 3px solid #ffa707;
}
.change-bg2 .total-count{
  border-right: 3px solid #1d6dac;
}
.change-bg3 .total-count{
  border-right: 3px solid #b62340;
}
.total-count{
  float: left;
  width: 30%;
  background: #eeeeee;
  min-height: 100px; 
  border-right: 3px solid #119f49;
  text-align: center;
}

.total-count span{
  font-size: 30px;
    /* text-align: center; */
    vertical-align: middle;
    line-height: 100px;
}

/* Dashboard end */


/* faq's page */

.faq_vendor{
  padding: 10px 20px;
}

.faq{
  padding:10px 10px;
  border-bottom: 1px solid #bdbdbd;
}

.showMore {
  font-size: 14px !important;
    display: block !important;
    color: #000;
    cursor: pointer;
    font-weight: bold !important; 
    text-transform: lowercase;
}
.showMore + input {
 display:none;
}
.showMore + input + * {
 color:#888888;
 font-size: 14px;
  max-height: 0;
  /*and eventually delay an overflow:auto; */
  overflow:hidden;
  transition: max-height 0.5s, overflow 0s;
  /* line-height:1.4; */
  padding-top: 5px;
}
.showMore + input:checked + * { 
  /* here comes the compromise, set a max-height that would for your usual contents*/
  max-height: 20em;
  overflow: auto;
  transition: max-height 0.5s, overflow 0.5s 0.5s;
  
}

.warnreport {
  text-align: left;
  font-size: 18px;
  color: #000;
}

.comtitle{
  color: #fff;
    font-size: 20px;
}



.accept-ord{
  background-color: #ffa707;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    /* float: right; */
    font-size: 12px;
}

.accept-ord a {
  color: #000000;
  font-weight: bold;
}

/* .cancle-ord{
  background-color: #ffa707;
    padding: 3px 20px;
    text-align: center;
    display: inline-block;
    
    font-size: 12px;
} */



/* tab view order booking */
/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px 5px;
  transition: 0.3s;
  font-size: 17px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  width: 33.3%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  /* background-color: #ddd; */
  border-bottom: 3px solid #ffa707;
  color: #119f49;
}

/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #ccc; */
  border-bottom: 3px solid #ffa707;
  color: #119f49;
}

/* Style the tab content */
.tabcontent {
  display: block;
  padding: 12px 0;
  /* border: 1px solid #ccc; */
  border-top: none; 
  opacity: 0;  
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out; 
  margin-left: -100%;
}


.tabcontent.showtab{
  opacity: 1;
  margin-left: 0;
}



button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }